:root {
  /* color */
  --hover-focus: #FF6C00;
  --bg: #FF6C00;
  --border: #FF6C00;
  --text-title-dark: #303030;
  --text-title-light: rgba(157, 164, 189, 0.60);
  --text-btn-dark: #303030;
  --text-theme-light: #555555;
  --text-theme-dark: #9DA4BD;
  --text-title-white: #ffffff;
  --bg-hero: #111319;

  /* animation */

  /* fonts */
  --fonts-primary: Open Sans, sans-serif;
  --fonts-title: Raleway, sans-serif;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}



/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  |============================
  | Base Style
  |============================
*/
body {
  font-family: var(--fonts-primary);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;

}

.section {
  padding: 120px 0;
  outline: 1px red solid;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.uppertitle {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-title-dark);
}

.uppertitle-dark {
  color: var(--text-title-light);
}

.title-theme-light {
  font-family: var(--fonts-title);
  font-size: 42px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 2.1px;
  color: var(--text-title-dark);
}

.title-theme-dark {
  color: var(--text-title-white);
}


/**
  |============================
  | Button
  |============================
  */
.button {
  display: flex;
  min-width: 160px;
  min-height: 40px;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;


  color: var(--text-title-white);
  background-color: transparent;


  padding: 12px 20px;
  border: 1px solid var(--border);
  border-radius: 25px;
}

.button-theme-light {
  color: var(--text-btn-dark)
}

.button:hover,
.button:focus {
  background-color: var(--bg);
}

/**
  |============================
  | Header
  |============================
*/

.header {
  background-color: #ffffff00;
  position: absolute;
  top: 0;
  width:100vw;
  z-index: 10;
}
.header-container {
  display: flex;
  align-items: center;
  max-width: 1150px;
}
.header-logo-link {
  margin-right: 124px;
 color: var(--text-title-dark); 
}

.header-svg-logo {
  fill: currentColor;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;

}

.header-nav-link,
.header-tel-link {
  display: block;
  padding: 32px 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--text-title-white);
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
  color: var(--hover-focus);
}

.header-nav-address-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-address-item-tel {
  margin-right: 40px;
}
/* main {
  display: none;
}
footer {
  display: none;
} */
/**
  |============================
  | Hero
  |============================
*/

.hero {
  position: relative;
  z-index: auto;
  background-color: var(--bg-hero);
}

.section {}

.hero-wrapper {
  display: flex;
}

.hero-inner-left {
  max-width: 100px;
}

.hero-inner-right {
  width: 100%;
  padding-top: 272px;
  padding-bottom: 40px;
  padding-left: 100px;

  background-image: url(../images/hero/slider-img-3hero-bg.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hero-list {
  display: flex;
  gap: 40px;

  transform: rotate(-90deg);

}

.hero-item {}

.hero-link {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 2.2px;
  color: var(--text-title-dark);
}

.hero-title {
  font-family: var(--fonts-title);
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 3.6px;
  color: var(--text-title-white);
  padding: 20px 0;
}

.hero-text {
  width: 360px;
  margin-bottom: 144px;
  color: var(--text-theme-dark);
}

.hero-slider-list {
  margin-left: auto;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  text-align: right;
}

.hero-slider-item {}

.hero-slider-link {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 1.1px;
}

/**
  |============================
  | About
  |============================
*/
.about {}

.section {}

.about-wrap {
  display: flex;
  gap: 30px;
}

.about-list-img {
  display: flex;
  gap: 30px;
}

.about-item-img {}

.about-img {}

.about-wrap-right {
  width: 470px;
}

.about-uppertitle {
  margin-bottom: 20px;
}

.about-title-second {
  margin-bottom: 20px;
}

.about-text {
  margin-bottom: 20px;
}

.about-content {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.85;
  letter-spacing: 0.28px;
  margin-bottom: 42px;
}

/**
  |============================
  | Price
  |============================
*/

.price {
  max-width: 1600px;
  background-color: var(--text-title-dark);
  background-image: url(../images/price/bg-img.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.price-uppertitle {
  margin-bottom: 20px;
}

.price-title-second {
  margin-bottom: 44px;
}

.price-list {
  display: flex;
  margin-bottom: 44px;
  gap: 30px;

  color: var(--text-theme-dark);
}

.price-list-left {
  min-width: 570px;
  padding: 30px 20px;
}

.price-item-left {}

.price-items-left {}

.price-list-right {
  min-width: 570px;
  padding: 30px 20px;

}

.price-item-right {}

.price-items-right {}

.price .button {
  margin-left: auto;
  margin-right: auto;
}

/**
  |============================
  | Benefits
  |============================
*/
.benefits {
  display: flex;

}

.benefits-wrap {
  display: flex;
  justify-content: center;

}

.benefits-wrap-left {
  display: flex;
  width: 370px;

}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 30 / 2);
  /* gap: 30px; */
}

.benefits-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 170px;
  flex-basis: 170px;
  flex-grow: 1;
  padding: 20px 24px;

}

.benefits-text-number-left {
  text-align: center;
  font-family: var(--fonts-primary);
}

.benefits-text-left {
  text-align: center;
  text-transform: none;
}

.benefits-wrap-right {
  flex-basis: 500px;
}

.benefits-uppertitle {
  margin-bottom: 20px;
}

.benefits-title-second {
  flex-basis: 430px;
  margin-bottom: 20px;
}

.benefits-content {
  flex-basis: 500px;
}

/**
  |============================
  | Team
  |============================
*/

.team {
  background-color: #F7F7F7;
}

.team-wrapper {}

.team-uppertitle {
  margin-bottom: 20px;
}

.team-title-second {
  margin-bottom: 44px;
}

.team-list-cards {
  display: flex;
  gap: 30px;
}

.team-item-cards {
  margin-bottom: 30px;
}

.team-wrap-social {
  padding-top: 30px;
}

.team-title-cards-third-name {
  text-align: center;

}

.team-text-prof {
  color: var(--border);

  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.36;
  letter-spacing: 0.28px;

  margin-bottom: 30px;
}

.team-wrap-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}



.team-wrap-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  background-color: #fff;
  border-radius: 50%;
}

.team-wrap-social-link:hover, 
.team-wrap-social-link:focus {
  color: var(--hover-focus);
} 

.team-svg {
  fill: currentColor;
}

/* Gallery */

.gallery {}

.gallery-wrap .uppertitle {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  gap: 30px;
}

.gallery-item {}

.gallery-img {}




/* Footer */

.footer .container {
  display: flex;
}

.container {}

.footer-copyright {
  padding-top: 52px;
  padding-bottom: 52px;
}

.footer-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.footer-item {
  /* padding-top: 52px;
  padding-bottom: 52px; */
}

.footer-link {
  padding-top: 52px;
  padding-bottom: 52px;
}