:root {
  /* color */
  --hover-focus: #FF6C00;
  --bg: #FF6C00;
  --border: #FF6C00;
  --text-title-dark: #303030;
  --text-title-light: rgba(157, 164, 189, 0.60);
  --text-btn-dark: #303030;
  --text-theme-light: #555555;
  --text-theme-dark: #9DA4BD;
  --text-title-white: #ffffff;

  /* animation */

  /* fonts */
  --fonts-primary: Open Sans, sans-serif;
  --fonts-title: Raleway, sans-serif;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}



/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  |============================
  | Base Style
  |============================
*/
body {
  font-family: var(--fonts-primary);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.02em;

}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

}

.uppertitle {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-title-dark);
}

.uppertitle-dark {
  color: var(--text-title-light);
}

.title-theme-light {
  font-family: var(--fonts-title);
  font-size: 42px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 2.1px;
  color: var(--text-title-dark);
}

.title-theme-dark {
  color: var(--text-title-white);
}


/**
  |============================
  | Button
  |============================
  */
.button {
  display: flex;
  min-width: 160px;
  min-height: 40px;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;


  color: var(--text-title-white);
  background-color: transparent;


  padding: 12px 20px;
  border: 1px solid var(--border);
  border-radius: 25px;
}

.button-theme-light {
  color: var(--text-btn-dark)
}

.button:hover,
.button:focus {
  background-color: var(--bg);
}

/**
  |============================
  | Header
  |============================
*/

.header {
  background-color: aqua;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1150px;
  z-index: 10;
}

.header-logo-link {
  margin-right: 124px;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 32px 0;
}

.header-nav-link,
.header-tel-link {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--text-title-white);
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
  color: var(--hover-focus);
}

.header-nav-address-list {
  display: flex;
  margin-left: auto;
}

.header-address-item-tel {
  margin-right: 40px;
}

/**
  |============================
  | Hero
  |============================
*/

.hero {
  position: relative;
  z-index: auto;
  background-color: rgb(240, 203, 203);
}

.section {}

.hero-wrapper {
  display: flex;
}

.hero-inner-left {
  max-width: 100px;
}

.hero-inner-right {
  width: 100%;
  padding-top: 272px;
  padding-bottom: 40px;
  padding-left: 100px;

}

.hero-list {
  display: flex;
  gap: 40px;

  transform: rotate(-90deg);

}

.hero-item {}

.hero-link {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 2.2px;
  color: var(--text-title-dark) #303030;
}

.hero-title {
  font-family: var(--fonts-title);
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 3.6px;
  color: var(--text-title-white);

  padding: 20px 0;
}

.hero-text {
  width: 360px;
  margin-bottom: 144px;
}

.hero-slider-list {
  margin-left: auto;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  text-align: right;
}

.hero-slider-item {}

.hero-slider-link {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 1.1px;
}

/**
  |============================
  | About
  |============================
*/
.about {
  padding: 120px 0;
}

.section {}

.about-wrap {
  display: flex;
  gap: 30px;
}

.about-list-img {
  display: flex;
  gap: 30px;
}

.about-item-img {}

.about-img {}

.about-wrap-right {
  width: 470px;
}

.about-uppertitle {
  margin-bottom: 20px;
}

.about-title-second {
  margin-bottom: 20px;
}

.about-text {
  margin-bottom: 20px;
}
.about-content {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.85;
  letter-spacing: 0.28px;
  margin-bottom: 42px;
}